body {
  max-width: 1240px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 210px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 480px) {

  .container {
    width: 90%;
  }

}