.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 45px 0 45px 0;
    padding: 60px 55px;
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-color: #f6f6f6;
}

.cardWrapper {
    display: block;
    height: 340px;
    width: auto;

}

.cardWrapper:hover {
    cursor: pointer;
}

.articleWrapper {
    height: 100%
}

.figureCard {
    position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
}

.imageCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardLink {
    display: block;
    width: 100%;
}

.figcaptionCard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7));
}

.cardTitle {
    color: white;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px 120px 15px 20px
}

@media(max-width: 1050px) {

    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
        padding: 35px 30px;
        gap: 35px;
    }

}

@media(max-width: 880px) {

    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 20px;
        gap: 20px;
    }
}

@media(max-width: 480px) {

    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
        padding: 0;
    }

    .cardWrapper {
        height: 255px;
        width: 100%;
    }

}