.divContainer {
    position: relative;
    height: 225px;
}

.collapseContainer {
    margin-bottom: 200px;
}

.imgContainer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(0.8);
}

.sectionScroll {
    display: flex;
    flex-direction: column;
    max-width: 1025px;
    margin: 30px auto 30px auto;
    font-family: 'Montserrat', serif;
}

.arrowNav {
    transform: rotate(180deg);
    width: 18px;
}

.scrollContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #ff6060;
    border-radius: 5px;
    color: white;
    padding: 6px 26px 6px 20px;
    border: none;
}

.titleCollapse {
    font-weight: 400;
}

.scrollContent {
    background-color: #f6f6f6;
    color: #ff6060;
    border-radius: 0 0 5px 5px;
    margin-bottom: 30px;
    padding: 20px 20px 6px 20px;
    /*display: none;*/
}

.scrollContent.display {
    display: block;
}

.arrowNav.rotate img {
    transform: rotate(180deg);
}