.divError {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: 'Montserrat', serif;
    color: #ff6060;
}

.error404 {
    font-weight: 700;
    font-size: 280px;
    text-align: center;
}

.errorP {
    font-size: 36px;
    padding-bottom: 180px;
    text-align: center;
}

.divError a {
    color: #ff6060;
    padding-bottom: 160px;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
}

@media(max-width: 880px) {

    .error404 {
        font-size: 150px;
    }

    .errorP {
        font-size: 22px;
    }

    .divError a {
        font-size: 15px;
    }

}

@media(max-width: 480px) {

    .error404 {
        margin-top: 110px;
        font-size: 100px;
    }

    .errorP {
        font-size: 17px;
        margin: 0 20px;
    }

    .divError a {
        font-size: 13px;
    }

}